{% include 'view/templates/scripted_table.html.twig'%}

<div class="panel panel-heading"><span class="caption">(#)</span>  {% if theView['canAdd'] is defined and theView['canAdd'] and theView['metaTypeIsAbstract'] is defined and not theView['metaTypeIsAbstract'] %} <a id="addLink" class="btn btn-primary btn-sm pull-right" href="/dataeditor/edit/{{ domain }}/{{ metaType }}">Add</a>{% endif %}</div>